{% extends "base.html.twig" %}

{% block title %}Блог{% endblock %}
	


{% block content %}
<div class="blog-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Блог нашей команды</p>
		</header>
		
				
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
			
			{% for post in posts %}
 			<article class="post">
				<h2><a href="/post/{{post.id}}" class="post-title">{{ post.title }}</a></h2>
				<div class="meta">
					<p>Posted on <span class="time">{{ post.created }}</span> by <a href="#" class="fn">{{ post.id_author }}</a> in <a href="#"class="cat">{{ post.id_category }}</a> with <a href="#" class="comments-link">42 comments</a>.</p>
				</div>
				<div class="entry">
					<p>{{ post.content }}</p>
				</div>
				<footer>
					<a href="/post/{{post.id}}" class="more-link">Продолжить чтение</a>
				</footer>
			</article>
 			{% endfor %}
		
			<ul class="page-numbers">
				<li><a href="#">Prev</a></li>
				<li><a href="#" class="current">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		
		</section>

		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full blog-sidebar">
				
			<div class="widget">
				<input id="search" type="search" name="search" placeholder="Что вы ищите?" >
			</div>
			
			<div class="widget">
			<p>Блог это то место где отражена жизнь нашего социального сообщества, здесь мы пишем о нашем пути, наших мыслях, нашем видиньи. Вливайтесь!</p>
			</div>
			
			<div class="widget">
			<h2>Популярные</h2>
			<ul>
				{% for post in posts %}
					<li><a href="#" title="">{{ post.title }}</a></li>
				{% endfor %}	
			</ul>
			</div>
			
			<div class="widget">
			<h2>Категории</h2>
			<ul>
				{% for cat in postsCat %}
					<li><a href="http://">{{ cat.name }}</a></li>
				{% endfor %}
			</ul>
			</div>
		
			{# <div class="widget">
			<h2>Meta</h2>
			<ul>
				<li><a href="">Entries (RSS)</a></li>
				<li><a href="">Comments (RSS)</a></li>
			</ul>
			</div> #}
		</aside>

		
		
		
	</div> <!--main-->

{% endblock %}

