{% extends "base.html.twig" %}

{% block title %}Портфолио{% endblock %}
	


{% block content %}
<div class="works-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Работы нашей команды</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-full">
			<p class="mbottom">Наше портфолио - предмет нашей гордости, именно они помогают понять кто мы, что мы умеем, и показывают наш профессианализм.</p>
			<menu>
				<a  id="work_all" class="arrow buttonactive">All</a><br>
 				{% for cat in catWorks %}
 			        <a  id="work_{{ cat.id }}" class="arrow">{{ cat.name }}</a><br>
 			    {% endfor %}

			</menu>
		</aside>
		
		<section class="grid col-three-quarters mq2-col-full">
		
					<div class="grid-wrap works">
		
				
				{% for work in works %}
 			        <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_{{ work.id_category }}">
					<a href="/work/{{work.id}}" >
						<img src="/tpl/img/img.jpg" alt="" >
					<span class="zoom"></span>
					</a>
					<figcaption>
						<a href="/work/{{work.id}}" class="arrow">{{ work.name }}</a>
						<p>{{ work.info }}</p>
					</figcaption>
				</figure>
 			    {% endfor %}

				
		
		
			</div> <!-- grid inside 3/4-->
		
		</section>	
		
	</div> <!--main-->
{% endblock %}