{% extends "base.html.twig" %}

{% block title %}Работа 1{% endblock %}
	


{% block content %}
<div class="work-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">{{work.name}}</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

		<p class="mbottom">{{work.info}}
		</p>
		<h6>Заказчик</h6>
		<p class="halfmbottom">{{work.client}}</p>
		
		<h6>Детали</h6>
		<ul class="halfmbottom">
			{{work.details}}
		</ul>
		
		<h6>Технологии</h6>
		<ul class="halfmbottom">
			{{work.technology}}
		</ul>
		
		<h6>Ссфлки</h6>
		<ul class="mbottom">
			{{work.links}}
		</ul>
		
		<h6>Отзыв</h6>
		<blockquote>{{work.testimonial}}</blockquote>
		
	</aside>
	
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
	
		<!-- <figure class="">
			<a href="#" >
			<img src="img/img.jpg" alt="" >
			</a>
			<figcaption>
				<p>Lorem ipsum dolor set amet</p>
			</figcaption>
		</figure>
		
		<figure class="">
			<a href="#" >
			<img src="img/img2.jpg" alt="" >
			</a>
		</figure> -->
		{{work.content}}
	
		</section>	
		
		
		
	</div> <!--main-->

{% endblock %}


	

